## 1.数据导入与预处理

### 1.1浏览数据

In [46]:
#导入数据
import pandas as pd
path=r'D:\Ugorgeous\LLLLearning\ItDS\works\3 logistic\Smarket.csv'
data=pd.read_csv(path)

In [36]:
#查看数据组成情况
data

      Year   Lag1   Lag2   Lag3   Lag4   Lag5   Volume  Today Direction
0     2001  0.381 -0.192 -2.624 -1.055  5.010  1.19130  0.959        Up
1     2001  0.959  0.381 -0.192 -2.624 -1.055  1.29650  1.032        Up
2     2001  1.032  0.959  0.381 -0.192 -2.624  1.41120 -0.623      Down
3     2001 -0.623  1.032  0.959  0.381 -0.192  1.27600  0.614        Up
4     2001  0.614 -0.623  1.032  0.959  0.381  1.20570  0.213        Up
...    ...    ...    ...    ...    ...    ...      ...    ...       ...
1245  2005  0.422  0.252 -0.024 -0.584 -0.285  1.88850  0.043        Up
1246  2005  0.043  0.422  0.252 -0.024 -0.584  1.28581 -0.955      Down
1247  2005 -0.955  0.043  0.422  0.252 -0.024  1.54047  0.130        Up
1248  2005  0.130 -0.955  0.043  0.422  0.252  1.42236 -0.298      Down
1249  2005 -0.298  0.130 -0.955  0.043  0.422  1.38254 -0.489      Down

[1250 rows x 9 columns]

In [37]:
#查看数据描述性统计
data.describe()

,Year,Lag1,Lag2,Lag3,Lag4,Lag5,Volume,Today
count,1250.000000,1250.000000,1250.000000,1250.000000,1250.000000,1250.00000,1250.000000,1250.000000
mean,2003.016000,0.003834,0.003919,0.001716,0.001636,0.00561,1.478305,0.003138
std,1.409018,1.136299,1.136280,1.138703,1.138774,1.14755,0.360357,1.136334
min,2001.000000,-4.922000,-4.922000,-4.922000,-4.922000,-4.92200,0.356070,-4.922000
25%,2002.000000,-0.639500,-0.639500,-0.640000,-0.640000,-0.64000,1.257400,-0.639500
50%,2003.000000,0.039000,0.039000,0.038500,0.038500,0.03850,1.422950,0.038500
75%,2004.000000,0.596750,0.596750,0.596750,0.596750,0.59700,1.641675,0.596750
max,2005.000000,5.733000,5.733000,5.733000,5.733000,5.73300,3.152470,5.733000

In [61]:
#查看数据类型
data.dtypes

Year           int64
Lag1         float64
Lag2         float64
Lag3         float64
Lag4         float64
Lag5         float64
Volume       float64
Today        float64
Direction     object
dtype: object

In [39]:
#查看缺失值情况(发现无缺失值)
data[data.isnull().any(axis=1)]

Empty DataFrame
Columns: [Year, Lag1, Lag2, Lag3, Lag4, Lag5, Volume, Today, Direction]
Index: []

### 1.2 数据预处理

模型解释：考虑到所选模型为logestic regression，是一个回归模型，因‘Year’对应的数据意为年份，在数学上与预测结果没有一定的相关性，故在回归时**不使用**该列。

In [47]:
#除去'Year'列
cal_data=data.drop('Year',axis=1)

In [77]:
#将Direction列转换为对应的0-1数据
cal_data[cal_data['Direction']=='Up']=1
cal_data[cal_data['Direction']=='Down']=0
cal_data['Direction']=cal_data['Direction'].astype('float64')
cal_data

      Lag1  Lag2  Lag3  Lag4  Lag5  Volume  Today  Direction
0      1.0   1.0   1.0   1.0   1.0     1.0    1.0        1.0
1      1.0   1.0   1.0   1.0   1.0     1.0    1.0        1.0
2      0.0   0.0   0.0   0.0   0.0     0.0    0.0        0.0
3      1.0   1.0   1.0   1.0   1.0     1.0    1.0        1.0
4      1.0   1.0   1.0   1.0   1.0     1.0    1.0        1.0
...    ...   ...   ...   ...   ...     ...    ...        ...
1245   1.0   1.0   1.0   1.0   1.0     1.0    1.0        1.0
1246   0.0   0.0   0.0   0.0   0.0     0.0    0.0        0.0
1247   1.0   1.0   1.0   1.0   1.0     1.0    1.0        1.0
1248   0.0   0.0   0.0   0.0   0.0     0.0    0.0        0.0
1249   0.0   0.0   0.0   0.0   0.0     0.0    0.0        0.0

[1250 rows x 8 columns]

## 2.模型训练与评估

In [67]:
#拆分训练集与数据集
from sklearn.model_selection import train_test_split
Y=cal_data['Direction']
X=cal_data.drop('Direction',axis=1)
X_train,X_test, Y_train, Y_test = train_test_split(X,Y,test_size=0.1,random_state=1)

In [68]:
#训练数据
from sklearn.linear_model import LogisticRegression

clf = LogisticRegression(max_iter=1000)
clf.fit(X_train, Y_train)

LogisticRegression(max_iter=1000)

In [78]:
## 查看其对应的参数
print('the weight of Logistic Regression:',clf.coef_)
print('the intercept(w0) of Logistic Regression:',clf.intercept_)

the weight of Logistic Regression: [[1.66278153 1.66278153 1.66278153 1.66278153 1.66278153 1.66278153
  1.66278153]]
the intercept(w0) of Logistic Regression: [-5.77066198]

In [74]:
## 在训练集和测试集上分布利用训练好的模型进行预测
train_predict = clf.predict(X_train)
test_predict = clf.predict(X_test)

In [79]:
#计算模型预测的精确度
from sklearn import metrics
print('The accuracy of the Logistic Regression for Traning Set is: %d%%' % (metrics.accuracy_score(Y_train,train_predict)*100))
print('The accuracy of the Logistic Regression for Test Set is: %d%%' % (metrics.accuracy_score(Y_test,test_predict)*100))

The accuracy of the Logistic Regression for Traning Set is: 100%
The accuracy of the Logistic Regression for Test Set is: 100%

在训练集和测试集上，模型的精确度都为100%，模型拟合很完美，期待在新的数据上也有很好的表现效果！